
.project-title {
    text-align: center;
}

.project-image img {
    width:80%;
}

.project-image {
    text-align: center;
}

.card {
    display: flex;
    width: 100%;
    border-radius:6%;
    box-shadow: 3px 6px 6px 1px hotpink;
}




