.active1 {
    background-color: rgb(255, 255, 41);
    
}


.nav-link:hover {
    font-size: 2.5rem;
   
}

a {
    color: rgb(96, 90, 90);
}

a:hover {
    color: rgb(7, 208, 131);
    text-decoration: none;
}

/* .nav-item {
    background-color: yellow
} */

nav.navbar.navbar-default {
    margin-bottom: 0;
    
  }

  /* .logo {
      width: 10rem
  } */