.active1 {
    background-color: rgb(255, 59, 59);
    
}

a {
    color: white;
}

/* .nav-item {
    background-color: yellow
} */

nav.navbar.navbar-default {
    margin-bottom: 0;
    
  }

  .logo {
      width: 10rem
  }